/* Global */

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 12px;
	color: #8a8683;
	background-color:#ffffff;
}

p {
	font-size: 120%;
}

h1, h2, h3, h4 {
	color: black;
	text-align: center;
}

h1 {
	text-transform: capitalize;
}

img {
	max-width: 100%;
}


/* Navigation */

header {
	position: fixed;
	top: 0px;
	width: 100%;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    transition:  .4s;
    z-index: 9001; /*Over 9000!*/
}

.collapse.navbar-collapse.navbar-ex1-collapse {
	background-color: rgba(255, 255, 255, .5);
}

.navbar-brand {
	padding: 2px;
	background-color: #7e3f98; /*logo color*/
}

.navbar-brand:hover {
	background-color: white;
}

.navbar, .navbar-default {
	border-radius: 0;
	border: none;
}

header a {
	font-size: 16px;
	font-weight: 800;
	color: inherit;
}

header img {
	height: 50px;
}

.navbar-nav {
	float: right;
	margin: 0;
}

.navbar-nav li a, .navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-nav li a:hover {
	transition: .5s;
	-webkit-transition: .5s; /* Safari */
}

.navbar-nav li a {
	line-height: 24px;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a>img {
	margin-right: 10px;
}

/*Active navbar*/
.navbar-default .navbar-nav>.active>a, .navbar .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar .navbar-nav>.active>a:hover, .navbar-nav>li>a:hover{
	background-color: #7e3f98; /*logo color*/
	color: white;
}

/* End Navigation*/

.parallax-background h1 {
	color: white;
}

.section-content {
	background-color: white;
	width: 60%;
	margin-left: 20%;
	padding: 20px;
}

/*END general slides*/

/* Home */ 

#home{
	background-image: url('../images/bg02.jpg');
	padding:100px 0;
	background-position: center top !important;
	background-size: cover;
	background-attachment: fixed;
	background-color: white;
}

.swingkids-brand{
	width: 100%;
	text-align: center;
}

.swingkids-brand img{
	width: 50%;
	margin: 120px auto 40px;
}

/* END Home */


/* Dance of the Day */

.parallax-background .section-content {
	overflow: hidden;
}

#dance-of-the-day .section-content{
	background-color: #f3f3f3;	
}

.templates {
	display: none;
}

#dance-of-the-day a {
	float: right;
	color: #464545;
}

#calendar-data {
	color: black;
}

.event-summary {
	font-weight: bold;
	font-size: 110%;
}

.event-item-template span{
	margin-right: 10px;
}

.event-item-template {
	margin-top: 10px;
}

/* END Dance of the Day*/

#mission {
	width:60%;
	margin-left:20%;
	font-size: 250%;
	text-align: center;
	color: #555;
}

iframe {
	width: 100%;
}

#subscribe-button {
    margin-top: 40px;
}


/* Photos */
.galleria-stage {
    height: 450px;
    position: absolute;
    top: 10px;
    bottom: 60px;
    left: 10px;
    right: 10px;
    overflow: hidden;
}

#galleria {
	height: 500px;
}

/*END photos*/

/* PEOPLE*/
#officers, #instructors, #members {
	width: 100%;
	overflow: hidden;
	margin-top, margin-bottom: 10px;
}

#members p {
	text-align: center;
	font-size: 150%;
	width: 60%;
	margin-left: 20%;
	margin-bottom: 50px;
}

#people {
	overflow: hidden;
}

#people h2 {
	color: #444;
}

.person {
	overflow: hidden;
	width: 92%;
	margin: 2%;
	padding: 10px;
}

.person img {
	float: left;
	width: 30%;
}

.person-row {
	overflow: hidden;
}

.person-information {
	float: right;
	width: 65%;
}

.person-information h3, .person-information h4 {
	text-align: left;
	margin: 0;
}

.person-information p {
	font-color: black;
}

@media(min-width: 988px) {
	.person {
		width: 45%;
		float: left;
		/*clear: both;*/
	}
}

@media(max-width: 1000px) {
	#mission, #members p {
		width: 90%;
		margin: 5%;
		font-size: 150%;
	}

	.section-content {
		width: 90%;
		margin: 5%;
	}
}

/*END PEOPLE*/

/*CONTACT*/
#contact img {
	margin-left: 20px;
}

footer p{
	text-align: center;
}
/*END CONTACT*/

#lessons-and-events ul{
	list-style-type: none;
	width: 200px;
	margin: 0 auto;
}

#lessons-and-events ul li a {
	text-decoration: none;
	font-size: 120%;
	text-align: center;
}

.social {
	width: 50px;
	padding: 20px;
}

.social:hover {
	opacity: .7;
}